#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-weight: 200;
}

/* nav bar */

.NavBar ul { display: flex; list-style: none; justify-content: center; padding: 0%;}

.NavBar ul li a {padding: 1em; color: inherit; text-transform: uppercase; display: inline-block; text-decoration: none;}

.NavBar ul li a.active {font-weight: bold; color: pink;}

/* exercise 1 */

.exercise1 img{
  height: 300px;
  width: 300px;
  object-fit: cover;}

  input {
    text-align: center;
    padding: 1em;
  }


  /* exercise 2, 4, 6 */
  
  .cats-image { 
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100px;
}
.sort-button button{
  background-color: burlywood;
  color: black;
}

.cats-list p {
  font-style: italic;
}

.catsfilter {
  background-color: burlywood;
  color: black;
  margin: 1em;
}

/* exercise 3 */
.emoji-container {
  display: flex;
  justify-content: center;
}
.emoji {
  font-size: 50px;
  padding: 1em;
}
.emoji-container button {
  font-size: 50px;
  color: whitesmoke;
  background-color: skyblue;
}

/* exercise 6 */
.result{
  font-size: 100px;
}